* {
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-size: 50px;
    color: white;
}

div {
    width 100%
}

p {
    text-align: center;
    margin-top: calc(50vh - 81px);
}